<h1 Style = " color:#efc958 ; text-align : center;">Income prediction Model<h1>


<h2 style = "color : #74c251">Prepocessing phase<h2>
<span style = "text-align : center ; font-family: Avantgarde; color:#df2525">Loading train Data and Understanding it</span>
     <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span> Exploring Nulls/Duplicates<h1>
            <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span> Exploring Nominal values<h1>
                      <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span> Exploring Numerical Statistics<h1>
                          <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span>Exploring Target values<h1>

In [10]:
import pandas as pa
import numpy as np

df = pa.read_csv("train_data.csv")

In [11]:
df=df[:].replace(' ?', None)
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
Income               0
dtype: int64

In [21]:
df.duplicated().sum()
df.loc[df.duplicated() == True , : ]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,None,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

 <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Nulls/Duplicates<h1>
    <p style = "text-align : center;  font-size : 11px;" > <i> "Here the dataframe has <span style = "color : red"> ' ?'</span> instead of nulls, so we replace all <span style = "color : red">' ?'</span> with nulls instead for better understanding of null data, it's unnecessary but only for ease"</i></p>
             <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span> Exploring Nominal values<h1>
                      <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span> Exploring Numerical Statistics<h1>
                          <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span>Exploring Target values<h1>

In [13]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
Income            object
dtype: object

In [14]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(df[col].value_counts().reset_index())

           workclass  count
0            Private  22696
1   Self-emp-not-inc   2541
2          Local-gov   2093
3          State-gov   1298
4       Self-emp-inc   1116
5        Federal-gov    960
6        Without-pay     14
7       Never-worked      7
        education  count
0         HS-grad  10501
1    Some-college   7291
2       Bachelors   5355
3         Masters   1723
4       Assoc-voc   1382
5            11th   1175
6      Assoc-acdm   1067
7            10th    933
8         7th-8th    646
9     Prof-school    576
10            9th    514
11           12th    433
12      Doctorate    413
13        5th-6th    333
14        1st-4th    168
15      Preschool     51
           marital-status  count
0      Married-civ-spouse  14976
1           Never-married  10683
2                Divorced   4443
3               Separated   1025
4                 Widowed    993
5   Married-spouse-absent    418
6       Married-AF-spouse     23
            occupation  count
0       Prof-specialty   4140
1         Craft-repair   4099
2      Exec-managerial   4066
3         Adm-clerical   3770
4                Sales   3650
5        Other-service   3295
6    Machine-op-inspct   2002
7     Transport-moving   1597
8    Handlers-cleaners   1370
9      Farming-fishing    994
10        Tech-support    928
11     Protective-serv    649
12     Priv-house-serv    149
13        Armed-Forces      9
      relationship  count
0          Husband  13193
1    Not-in-family   8305
2        Own-child   5068
3        Unmarried   3446
4             Wife   1568
5   Other-relative    981
                  race  count
0                White  27816
1                Black   3124
2   Asian-Pac-Islander   1039
3   Amer-Indian-Eskimo    311
4                Other    271
       sex  count
0     Male  21790
1   Female  10771
                 native-country  count
0                 United-States  29170
1                        Mexico    643
2                   Philippines    198
3                       Germany    137
4                        Canada    121
5                   Puerto-Rico    114
6                   El-Salvador    106
7                         India    100
8                          Cuba     95
9                       England     90
10                      Jamaica     81
11                        South     80
12                        China     75
13                        Italy     73
14           Dominican-Republic     70
15                      Vietnam     67
16                    Guatemala     64
17                        Japan     62
18                       Poland     60
19                     Columbia     59
20                       Taiwan     51
21                        Haiti     44
22                         Iran     43
23                     Portugal     37
24                    Nicaragua     34
25                         Peru     31
26                       France     29
27                       Greece     29
28                      Ecuador     28
29                      Ireland     24
30                         Hong     20
31                     Cambodia     19
32              Trinadad&Tobago     19
33                         Laos     18
34                     Thailand     18
35                   Yugoslavia     16
36   Outlying-US(Guam-USVI-etc)     14
37                     Honduras     13
38                      Hungary     13
39                     Scotland     12
40           Holand-Netherlands      1
  Income   count
0   <=50K  24720
1    >50K   7841

 <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Nulls/Duplicates<h1>
    <p style = "text-align : center;  font-size : 11px;" > <i> "Here the dataframe has <span style = "color : red"> ' ?'</span> instead of nulls, so we replace all <span style = "color : red">' ?'</span> with nulls instead for better understanding of null data, it's unnecessary but only for ease"</i></p>
             <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Nominal values<h1>
                      <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span> Exploring Numerical Statistics<h1>
                          <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span>Exploring Target values<h1>

In [24]:
colu =[]
col_names=[]
for col in df.columns:
    if df[col].dtype == 'int64':
        col_names.append(col)
        colu.append(df[col])
        
data = pa.concat(colu , axis =1)
data.columns = col_names
data = data.describe()
data.drop('count',axis = 0)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

 <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Nulls/Duplicates<h1>
    <p style = "text-align : center;  font-size : 11px;" > <i> "Here the dataframe has <span style = "color : red"> ' ?'</span> instead of nulls, so we replace all <span style = "color : red">' ?'</span> with nulls instead for better understanding of null data, it's unnecessary but only for ease"</i></p>
             <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Nominal values<h1>
                      <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Numerical Statistics<h1>
                          <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">-</span>Exploring Target values<h1>

In [16]:
df['Income '].value_counts()

Income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

 <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Nulls/Duplicates<h1>
    <p style = "text-align : center;  font-size : 11px;" > <i> "Here the dataframe has <span style = "color : red"> ' ?'</span> instead of nulls, so we replace all <span style = "color : red">' ?'</span> with nulls instead for better understanding of null data, it's unnecessary but only for ease"</i></p>
             <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Nominal values<h1>
                      <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span> Exploring Numerical Statistics<h1>
                          <h1 style = "color : #d1ed5b"> <span style = "color :#4c82b2">✓</span>Exploring Target values<h1>